#
#	PCF file for the iCE40 Ultra Plus FPGA (uwg30 package) on MDP board
#	On the MDP board, pin D3 of the FPGA is connected to LED D14.
#

set_io led A2 #10A

#set_io tx A1 #36B
#set_io rx A2 #37A
#set_io start 43 #49A

